<h1 mat-dialog-title>{{tituloAction}}</h1>
<hr class="divider">
<mat-dialog-content>
  <form [formGroup]="productoForm">
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Titulo</mat-label>
          <input matInput placeholder="Nombre" formControlName="title">
          <mat-error *ngIf="productoForm.controls.title.invalid">Comple el campo</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Contenido</mat-label>
          <input matInput placeholder="Apellido" formControlName="content">
          <mat-error *ngIf="productoForm.controls.content.invalid">Comple el campo</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <!--   <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </mat-grid-tile> <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </mat-grid-tile> <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </mat-grid-tile> <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </mat-grid-tile> -->
    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
  <button mat-raised-button  color="primary" (click)="addEditDato()" [disabled]="productoForm.invalid">{{btnAction}}</button>
</mat-dialog-actions>