
<div class="container">
    <h1 class="text-center">Lista de Productos</h1>
  </div>
  
<!--   <div class="container">
    <div class="card-container" >
        
      <div class="card"  *ngFor="let product of data">
        <h2>{{product.title}}</h2>

        <hr class="divider">
        <img [src]=" product.images[0]" alt="Imagen" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{product.description}}</h5>
          <p class="card-text">Precio ${{product.price
        }}</p>
        <hr class="divider">
          <a href="#" class="btn btn-primary">Botón 1</a>
        </div>
      </div>   
   </div>
 -->
   <!-- Tabla -->
   <div class="demo-button-container">
    
    <button mat-raised-button  [style.backgroundColor]="btnAdd" (click)="openDialog()" class="demo-button">
        <p class="p"  [style.color]="textColor">Add Data</p>
    </button>

  </div>
   <div [style.backgroundColor]="divColor">
 
    <mat-progress-bar mode="indeterminate" class="progress"  ></mat-progress-bar>
<table mat-table [dataSource]="data" class="example-table mat-elevation-z8 custom-table">

    <!-- Columnas -->
    <ng-container matColumnDef="Prodcutos">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'custom-header'"> Producto </th>
      <td mat-cell *matCellDef="let item"> {{ item.title
    }} </td>
    </ng-container>
    <ng-container matColumnDef="thumbnail">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let item"> <img [src]=" item.thumbnail" alt="Imagen" class="card-img-top"> </td>
      </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let item"> {{ item.description }} </td>
    </ng-container>

    <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> precio </th>
        <td mat-cell *matCellDef="let item"> ${{ item.price }} </td>
      </ng-container>


  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let item">
        <!-- Botón de editar -->
        <button mat-icon-button color="primary" >
          <mat-icon>edit</mat-icon>
        </button>
        <!-- Botón de eliminar -->
        <button mat-icon-button color="warn" >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <!-- Filas -->
    <tr [ngClass]="'custom-header'" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


